* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  width: 100%;
}

.pace-logo {
  width: 20%;
  padding: 2%;
  margin-left: 2%;
}

.donate-header {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  width: 15%;
  height: 2%;
  background: #dd004b;
  border-radius: 17%;
  padding: 2%;
  margin: auto;
}

.menu {
  font-family: 'Lato', sans-serif;
  align-items: flex-end;
  margin-right: 2%;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  color: black;
  background-color: #dd004b;
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: #8bb8e8;
}

.mobileMenu {
  display: none;
}

.desktop-menu {
  display: none;
}

.donate-header-desktop {
  display: none;
}

.top-header {
  display: flex;
}

.home-image, .about-image {
  width: 100%;
  height: 35vh;
}

.home-main {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
}

.home-centers {
  background-color: #8bb8e8;
  padding: 12%;
}

.home-believe {
  background-color: #dd004b;
  padding: 12%;
}

.home-volunteer {
  background-color: #f2a900;
  padding: 12%;
}

.home-support {
  background-color: #8bb8e8;
  padding: 12%;
}

.home {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid white;
  padding: 8%;
  border-radius: 6%;
  font-size: 1rem;
}

.believe-h1 {
  background-color: #f2a900;
}

.volunteer-h1 {
  background-color: #8bb8e8;
}

.support-h1 {
  background-color: #dd004b;
}

.center-div, .believe-div, .volunteer-div-1, .volunteer-div-2, .support-div {
  display: none;
}

.mission-philosophy {
  background-color: #8bb8e8;
  color: white;
  border-color: none;
  padding: 3%;
}

h1.mission-h1, h1.philosophy-h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.mission-p, .philosophy-p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  padding: 2%;
}

.container {
  width: 80%
  max-width: 600px;
}

button.accordion {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #f2a900;
  border: 2px solid #dd004b;
  padding: 15px 20px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: '\f055';
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #8bb8e8;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.contact-content, .contact-title {
  background-color: #f2a900;
  color: white;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
}

.contact-h1, .contact-h2 {
  font-family: 'Lato', sans-serif;
}

.contact-h1 {
  font-size: 1.2rem;
  text-align: center;
}

.contact-h2 {
  font-size: 1rem;
  padding: 2%;
}

.contact-ptags {
  padding: 2%;
}

.contact-p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.api-content {
  padding: 2%;
}

.team-photo {
  width: 15%;
  margin-left: 5%;
}

.team-h3 {
  font-family: 'Lato', sans-serif;
  font-size: 0.775rem;
  text-decoration: underline;
}

.team-p, .more {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
}

.contact-team, .team-photo {
  padding: 2%;
}

.contact-team {
  width: 100%;
}

.contact-mary, .contact-thresa, .contact-yessica, .contact-teddy {
  display: flex;
  padding: 1%;
  margin-top: 5%;
}

.team-info {
  margin-right: 5%;
  width: 50%;
}

.team-photo {
  width: 50%;
}

.myBtn {
  background-color: #dd004b;
  color: white;
  text-align: center;
  font-size: 0.5rem;
  padding: 2%;
  margin-top: 4%;
  border-radius: 2px solid;
}

.myBtn:hover {
  background-color: #8bb8e8;
}

.more {
  display: none;
}

.show {
  display: block !important;
}

/* Footer */

.footer {
  background-color: #dd004b;
  padding: 5%;
  display: flex;
}

.icon {
  width: 25%;
}

.footer-logo {
  width: 60%;
  margin-top: 17%;
}

.footer-text, .footer-text-long {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 0.7rem;
}

.footer-text-long {
  margin-top: 2%;
}

.left-footer {
  width: 25%;
}

.right-footer {
  width: 75%;
}

/* Footer */


/* 623px media query */

@media (min-width: 623px) {

  .menu {
    display: none;
  }

  .desktop-menu {
    display: block;
    font-family: 'Lato', sans-serif;
  }

  .desktop-menu ul li {
    padding: 2% 3%;
    margin: 0 5%;
    color: #dd004b;
    list-style: none;
    font-size: 1rem;
  }

  .desktop-menu ul li a {
    color: #dd004b;
  }

  .desktop-menu ul li a:hover {
    color: #8bb8e8;
  }

  .desktop-ul {
    display: flex;
  }

  .header {
    padding-bottom: 1%;
  }

  .donate-header {
    display: none;
  }

  .donate-header-desktop {
    display: block;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    width: 15%;
    height: 2%;
    background: #dd004b;
    border-radius: 17%;
    padding: 1%;
    margin-top: 2%;
    align-items: flex-end;
    margin-left: 10%;
  }

  .donate-header-desktop:hover {
    background-color: #8bb8e8;
  }

  .pace-logo {
    width: 12%;
    margin-left: 2%;
  }

  .home-image {
    height: 50vh;
  }

  .home {
    padding: 3%;
  }

  .center-div, .believe-div, .volunteer-div-1, .volunteer-div-2, .support-div {
    display: block;
    padding: 5%;
  }

  .volunteer-div-1, .volunteer-div-2 {
    text-align: center;
    padding: 2%;
  }

  .home-centers, .home-believe, .home-volunteer {
    display: flex;
    padding: 3%;
  }

  .volunteer-h1 {
    display: none;
  }

  .home {
    font-size: 1rem;
    padding: 3%;
    height: 10vh;
  }

  .believe-h1 {
    margin-top: 10%;
  }

  .home-support {
    padding: 2%;
  }

  .home-support h1.support-h1 {
    width: 40%;
    margin: auto;
    padding: 1%;
  }

  .center-h2, .believe-h2, .volunteer-h2-1, .volunteer-h2-2, .support-h2 {
    font-size: 1rem;
  }

  .center-p, .believe-p, .volunteer-p-1, .volunteer-p-2, .support-p {
    font-size: 0.85rem;
    padding-top: 1.5%;
  }

  .read-button {
    background-color: #dd004b;
    color: white;
    text-align: center;
    padding: 2%;
    margin-top: 4%;
    border-radius: 2px solid;
  }

  .mission-philosophy {
    display: flex;
  }

  .mission-div, .philosophy-div {
    width: 50%;
  }

  .mission-p, .philosophy-p {
    margin-top: inherit;
  }

  .panel {
    width: 45%;
  }

  .icon {
    width: 15%;
  }

  .footer-logo {
    width: 30%;
  }

}


/* 768px media query */

@media (min-width: 768px) {

  .desktop-menu ul li {
    font-size: 1.2rem;
  }

  .donate-header-desktop {
    width: 10%;
  }

  .home-image {
    height: 60vh;
  }

  .about-image {
    height: 55vh;
  }

  .contact-team {
    display: flex;
  }

  .left-contact {
    width: 90%;
  }

  .right-contact {
    width: 100%;
  }

  .team-photo {
    width: 40%;
  }

  .team-h3 {
    font-size: 0.8rem;
    margin-top: 6%;
  }

  .team-p, .more {
    font-size: 0.7rem;
    margin-top: 4%;
  }

  .contact-mary, .contact-thresa, .contact-yessica, .contact-teddy {
    margin-top: 0%;
  }

  .contact-thresa {
    margin-top: 45%;
  }

  .contact-teddy {
    margin-top: 35%;
  }

  .team-info {
    margin: 0%;
    width: 40%;
  }

  .myBtn {
    font-size: 0.75rem;
    padding: 4%;
    margin-top: 6%;
    border-radius: 2px solid;
  }

  .footer {
    padding: 2%;
  }

  .icon {
    width: 12%;
  }

  .footer-logo {
    width: 20%;
    margin-top: 5%;
  }

  .footer-text, .footer-text-long {
    font-size: 0.8rem;
  }

}


/* 780px media query */

@media (min-width: 780px) {

  .icon {
    width: 15%;
  }

  .footer-logo {
    width: 30%;
  }

}


/* 910px media query */

@media (min-width: 910px) {

  .pace-logo {
    width: 10%;
  }

  .home-image {
    height: 70vh;
  }

  h1 {
    font-size: 1.3rem;
    padding: 3%;
    height: 10vh;
  }

  .center-h2, .believe-h2, .volunteer-h2-1, .volunteer-h2-2, .support-h2 {
    font-size: 1.2rem;
  }

  .center-p, .believe-p, .volunteer-p-1, .volunteer-p-2, .support-p {
    font-size: 0.975rem;
    padding-top: 1.5%;
  }

  .read-button {
    font-size: 1rem;
  }

  .mission-p {
    margin-top: -7vh;
  }

  .philosophy-p {
    margin-top: -9vh;
  }

  .contact-h1 {
    margin: 0;
    padding-bottom: 0;
  }

  .contact-h2 {
    font-size: 1.2rem;
  }

  .contact-p {
    font-size: 0.9rem;
  }

  .contact-ptags {
    padding-bottom: 4%;
  }

  .team-photo {
    width: 50%;
  }

  .team-h3 {
    font-size: 1rem;
  }

  .team-p, .more {
    font-size: 0.85rem;
  }

  .footer-logo {
    width: 25%;
  }

}
